.root {
    -fx-background-color: #0066A1
}

#login-box {
    -fx-background-color: white;
    -fx-background-radius: 20;

    -fx-border-radius: 20;
    -fx-border-width: 20;
    -fx-border-color: white;
}